.txt{
    justify-content:center;
    align-items:center;
    display: grid;
    margin-top: 10%;
    font-size: 50px;
    color: #fff;

}
.email-btn{
    width: 120px;
    height: 40px;
    margin-top: 15%;
   margin-left:35%;
   color: #fff;
   background: rgb(68, 5, 5);
   box-shadow: 3px;
   border-radius:50px;
   outline: none;
   
    
   
}
.email-btn:hover{
    background: rgb(48, 4, 4);
}
.fill{
    height:100%;
    width:100%;
    display: grid;
  
    
    grid-template-columns:100fr;
    grid-template-areas: "ce",
    "ce1";
    grid-template-rows: 100fr 100fr;
}

@media (max-width: 858px){
   .txt{
       font-size:30px;
       margin-top:35%;

   }
    }
