.button1{
    margin-left: 40%;

}
.fs1{
    font-size: 40px;
    color:white;
    margin-left:38%;
    margin-top: 10px;
    margin-bottom: 10px;
    background: rgb(116, 46, 54);
    width: 20%;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;

}
.new2{
    width:100%;
    color:yellow;
    padding-left: 10px;
    border: 1px solid yellow;
}