.cont{
  height:100%;
  width: 100%;
  
 
  

  background-image: url("E:/dfo/code/src/images/po.png");
  background-size: cover;
  
  

  
display:grid;
grid-template-columns: 5fr 30fr 30fr 30fr 5fr;
grid-template-rows:  30fr 10fr 40fr;
grid-template-areas: " . img img img ."
                ". i1 i2 i3 ."
                ". d1 d2 d3 .";
}

.first{
  grid-area: img;
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100%;
 
  
}
.no1{
  grid-area: i1;
  display:flex;

  justify-content: center;

  height: 60px;
 
}
.no2{
  grid-area: i2;
  display:flex;
  
  justify-content: center;
  height: 60px;
}
.no3{
  grid-area: i3;
  display:flex;
  height: 60px;
  justify-content:center;
  

  
  
}

.write{
  grid-area: d1;
 
  display: flex;
  
  height: 150px;
  justify-content: center;

  
}
.opacity{
  
  opacity: 0.3;
}
.content{
  position:absolute;
  justify-content: center;
  align-items: center;
  margin-top:30px;
  color:white;
  flex-flow: column;
  display: flex;
}
.write1{
  grid-area: d2;
  display: flex;
  
  height: 150px;
  justify-content: center;


}
.write2{
  grid-area: d3;
  display: flex;
  
  height: 150px;
  justify-content: center;

}
.pizza{
  opacity: 0.2;
  height: 300px;
display: flex;
z-index: 1;
margin-left: 1300%;



}
.video{
  height:100%;
  width: 100%;
  
 background: rgb(111, 11, 23);
  display: grid;
  grid-template-columns:  100fr;
  grid-template-areas: " img ";

  

}
.image3{
  grid-area: img;
  width: 100%;
  height: 100%;
  display:grid;
  

}
.playbtn{
  margin-left: 45%;
  position: relative;
  margin-top: -25%;
}
@media (max-width: 890px){
  .content{
    font-size:10px
  }
  .opacity{
    width:150px;
    height:100px;
    margin-top: 9px;
  }
  .playbtn{
    margin-left:45%;
    margin-top:-25%;
    height: 60px;
    width: 90px;
  }
   }
   @media (max-width: 375px){
    .content{
      font-size:8px
    }
    .opacity{
      width:120px;
      height:80px;
      margin-top: 15px;
      margin-right:7px;
    }
    .write,.write1,.write2{
      margin-top:2px;
    }
    .no1,.no2,.no3{
      width:60px;
      height:30px;
     padding-left: 20px;
    }
    .playbtn{
      margin-left:45%;
      margin-top:-25%;
      height: 40px;
      width: 70px;
    }
     }
   