.res{
    display: grid;
grid-template-columns: 100fr ;
/* padding-left: 5em; */ 
/* padding-right: 1em; */
  
    background:rgb(111, 11,23);
}

.button{
    margin-left: 45%;
    border-bottom: 5px;
height: 50px;
width: 150px;
background: url("E:/dfo/code/src/images/smbg2.png");
overflow: hidden;
background-size: 100% 100%,cover;
}
.i{
    background-size: 100% 100%,cover;
}
.new1{
    border-radius: 50%/100px 100px  0 0;
    border-color: yellow;
    border: solid 2px yellow;
}
.fs{
    margin-left: 40%;
    margin-top:20px;
    margin-bottom: 20px;
    color: white;
    width: 18%;
    padding:10px 20px;
    background:rgb(138, 26, 39);
    border-radius: 2em;
    

}


@media (max-width: 858px){
    .fs{
        font-size: 14px;
        justify-content: center;
        align-items: center;
       
    }
    .res{
        padding-left:0;
    }
     }

     
@media (max-width: 1077px){
    .fs{
        font-size: 20px;
        justify-content: center;
        align-items: center;
    
    
    }
     }
          
@media (max-width: 1055px){
    .fs{
        font-size: 18px;
        justify-content: center;
        align-items: center;
    
    
    }
     }
     @media (max-width: 947px){
        .fs{
            font-size: 16px;
            justify-content: center;
            align-items: center;
        
        
        }
         }
         @media (max-width: 845px){
            .fs{
                font-size: 14px;
                justify-content: center;
                align-items: center;
            
            
            }
             }
             @media (max-width: 739px){
                .fs{
                    font-size: 12px;
                    justify-content: center;
                    align-items: center;
                
                
                }
                 }
                 @media (max-width: 636px){
                    .fs{
                        font-size: 10px;
                        justify-content: center;
                        align-items: center;
                    
                    
                    }
                     }
                     @media (max-width: 540px){
                        .fs{
                            font-size: 14px;
                            justify-content: center;
                            align-items: center;
                        width:30%;
                        margin-left:35%;
                        
                        }
                         }
                         @media (max-width: 452px){
                            .fs{
                                font-size: 12px;
                                justify-content: center;
                                align-items: center;
                            width:30%;
                            margin-left:35%;
                            
                            }
                             }
     @media (max-width: 375px){
        .fs{
            font-size: 20px;
            justify-content: center;
            align-items: center;
            align-self: center;
        width: 50%;
        margin-left: 23%;
        
        }
        .button{
            margin-left: 30%;
            width: 90px;
            height: 30px;
            margin-left: 40%;
          margin-top:-0.5%;
           background-size:100% 100%,cover;
            
        }
       
        
        .res{
            /* padding-left:  2em; */
        }
         }
       