.res{
    display: grid;
grid-template-columns: 100fr;
padding-left: 10em;
    
    background:rgb(111, 11,23);
}
.button{
    margin-left: 45%;
    border-bottom: 5px;

    
}
.new1{
    border-radius: 50%/100px 100px  0 0;
    border-color: yellow;
    border: solid 2px yellow;
}
.fs{
    margin-left: 40%;
    margin-top:20px;
    margin-bottom: 20px;
    color: white;
    width: 18%;
    padding:10px 20px;
    background:rgb(138, 26, 39);
    border-radius: 2em;
    

}


@media (max-width: 858px){
    .fs{
        font-size: 14px;
        justify-content: center;
        align-items: center;
    }
    .res{
        padding-left:0;
    }
     }

     
@media (max-width: 1077px){
    .fs{
        font-size: 20px;
        justify-content: center;
        align-items: center;
    
    
    }
     }
     @media (max-width: 375px){
        .fs{
            font-size: 7px;
            justify-content: center;
            align-items: center;
        
        
        }
        .button{
            margin-left: 30%;
        }
         }
       